body {
  margin: 0;
  background: rgb(90, 187, 127);
  background: linear-gradient(
    0deg,
    rgba(90, 187, 127, 1) 0%,
    rgba(43, 147, 149, 1) 100%
  );
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  max-width: 100vh;
  justify-content: center;
}

.main {
  border: 1px solid rgba(255, 255, 255, 0.253);
  background: rgba(255, 255, 255, 0.2);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 10px 20px;
  max-height: 453px;
  max-width: 455px;
}

h1 {
  border-bottom: 2px dotted orange;
  margin: 0 0 0 0;
  padding: 0 10px;
}

.title1 {
  font-family: "Architects Daughter", sans-serif;
  font-size: 70px;
}
.title2 {
  font-family: "Lobster Two", sans-serif;
  font-size: 30px;
  margin-left: 5px;
}
.paragraph {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 10px;
  font-family: "Times New Roman", Times, serif;
}
